 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body{
  font-family: 'Abril Fatface', cursive;
background-color: #0b1522 ;
 }
 
 

#Seleccionar-aleja{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



#titulo {
    color: #EB455F;
    font-size: 50px;
  
    }

#subtitulo {
        color:  #EB455F;
        font-size: 20px;
  }

  .rojo {
    color: #EB455F;
    text-align: left;
    width: 500px;
   height: 100px;
   overflow: auto;
  }
  

  .tarjeta-de-mokepon {
    width: 300px;
    height: 120px;
    background: #F9F9F9;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
      align-items: center;
      
  }

.tarjeta-de-mokepon img {
  width: 150px;

}

  #boton-Aleja{
    width: 180px;
    height: 45px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
   margin-top: 30px;
  }

  
  input {
    display: none;
  }
 
